#header.main_header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}
#header.main_header .header_top {
  background-color: transparent;
  border-color: rgba(251, 251, 251, 0.3);
}
.gnb_in #header.main_header .header_top{
    background-color: #fff;
}
.main_content .swiper-wrapper {
  margin: 1px;
}
.main_content .swiper-container {
  padding-left: 1px;
  padding-right: 1px;
}
.main_ttl_box {
  position: relative;
}
.main_ttl_box .more_view_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 18px;
  font-weight: 600;
}

.main_ttl {
  margin-bottom: 35px;
  font-size: 34px;
  font-weight: 800;
}
.main_ttl span {
  position: relative;
}

.main_ttl.point span::after {
  content: "";
  position: absolute;
  top: -10px;
  left: calc(100% + 5px);
  width: 14px;
  height: 12px;
  border-radius: 0 6px 6px 0;
}

.main_ttl.text-green span::after {
  background-color: #54d17f;
}
.main_ttl.text-red span::after {
  background-color: #ff6974;
}
.main_ttl.text-blue span::after {
  background-color: #48a4ff;
}

.main_sub_ttl {
  font-size: 24px;
  margin-bottom: 20px;
}

/* main visual ----------- */
.main_visual {
  padding-bottom: 85px;
  padding-top: 130px;
  background: url(../img/main/main_bg.jpg) no-repeat center / cover;
}
.main_visual_top {
  max-width: 660px;
  margin: 0 auto;
}
.search_form_wrap {
  position: relative;
}

.search_form_wrap {
  position: relative;
}
/* .search_form_wrap input{
    height: 62px;
    border: 2px solid var(--bs-point);
    border-radius: 31px;
    font-size: 20px;

} 
.search_form_wrap input::placeholder{
    color: #656565;
    font-weight: 600;
}
.search_form_wrap .main_search_btn{
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
} */
.search_form_wrap .search_form {
  position: relative;
}
.search_form_wrap input {
  border-radius: 50px;
  border: 2px solid var(--bs-point);
  height: 60px;
  line-height: 60px;
  padding-right: 78px;
}
.search_form_wrap .form_search {
  width: 78px;
  height: 60px;
  background: no-repeat center;
  background-image: url(../img/btn/blue_search.png);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.recommended_list {
  margin-top: 20px;
  padding: 0 20px;
}
.recommended_list .label::before {
  position: absolute;
  content: "";
  left: calc(100% - 20px);
  top: 7px;
  width: 21px;
  height: 19px;
  transform: rotate(57deg) skew(25deg);
  background-color: var(--bs-point);
  z-index: 0;
  border-radius: 3px;
}
.recommended_list .label span {
  position: relative;
  z-index: 10;
  display: block;
  padding-left: 8px;
  width: 80px;
  background-color: var(--bs-point);
  line-height: 34px;
  border-radius: 3px;
}
.recommended_list .label {
  color: #fff;
  width: 89px;
  position: relative;
  margin-right: 10px;
  font-weight: 600;
}
.recommended_list {
  --mg-s: 10px;
}
.recommended a {
  font-weight: 500;
}
/* main_visual_bottom */
.main_visual_bottom {
  /* --mg-s: 20px;  */
  max-width: 920px;
  margin: 50px auto 0;
}
.main_visual_bottom .card {
  width: calc(50% - 10px);
  padding: 38px 40px;
  border-radius: 30px;
  background-repeat: no-repeat;
}
.main_visual_bottom .card + .card {
  margin-left: 20px;
}
.main_visual_bottom .card.green {
    background-color: #47bd70;
  background-image: url(../img/main/main_visual_item_img01.png);
  background-position: 15% 115%;
}
.main_visual_bottom .card.blue {
    background-color: #2973d6;
    background-image: url(../img/main/main_visual_item_img02.png);
    background-position: 20% 105%;
}

.main_visual_bottom .card_cont {
  text-align: right;
}

.main_visual_bottom .card_cont .label {
  margin-bottom: 9px;
}
.main_visual_bottom .card_cont .amount {
  font-size: 22px;
}
.main_visual_bottom .card_cont .amount strong {
  font-size: 40px;
  font-weight: 800;
}
.main_visual_bottom .card_cont li + li {
  margin-top: 20px;
}
.card_ttl {
  font-size: 26px;
  line-height: 1.3;
}
.card_ttl_box p {
  margin-top: 10px;
}

/* main_content */
.main_content .inner {
  margin: 0 auto;
  max-width: 1120px;
}
.main_content section {
  padding-top: 90px;
}
figure + .text_box {
  margin-top: 20px;
}
.text_box * + * {
  margin-top: 10px;
}
.text_box .subject.lg {
  font-size: 24px;
}
.text_box .subject {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 2.6em;
}
.text_box p {
  line-height: 1.277;
  font-size: 18px;
  font-weight: 600;
}
.text_box p strong {
    line-height: inherit;
    font-size: inherit;
    font-weight: 700;
}
.text_box p.text_sm {
  font-size: 14px;
}
.text_box .number {
  font-weight: 800;
  font-size: 34px;
  text-align: center;
  display: block;
}
.card_list a{
    display: block;
}
.card_list > li,
.card_list > div {
  border-radius: 16px;
  background-color: #fff;
}
.card_list.border > li,
.card_list.border > div {
  border: 1px solid #dbdbdb;
}

.main_content figure {
  overflow: hidden;
}
/*badge 공통*/
.main_content .badge span {
  display: inline-block;
  border-radius: 16px;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  background-color: #f1f1f1;
  font-weight: 500;
}
.main_content .badge.sm span {
  height: 23px;
  line-height: 23px;
  padding: 0 8px;
  border-radius: 11.5px;
  font-size: 14px;
  font-weight: 600;
}
.main_content .badge.green span {
  background-color: var(--bs-bg-green);
}
.main_content .badge.purple span {
  background-color: var(--bs-bg-purple);
}
.main_content .badge.blue span {
  background-color: var(--bs-bg-blue);
}
.main_content .badge.pink span {
  background-color: var(--bs-bg-pink);
}
.main_content .badge.yellow span {
  background-color: var(--bs-bg-yellow);
}



/* 보험통계, 알쓸 보험 공통 */

.main_top_content {
  padding-bottom: 90px;
}
.main_top_content .col-4 {
  --mg-x: 10px;
  --mg-t: 0;
}
.main_top_content .col-3 {
  --mg-x: 12px;
  --mg-t: 0;
}

.main_top_content .card_list > li img,
.main_top_content .card_list > div img {
  transition: all 0.5s;
}
.main_top_content .card_list > li:hover img,
.main_top_content .card_list > div:hover img {
  transform: scale(110%);
}
/* 인기정보 서비스, 알아두면 쓸모 있는 자동차보험 정보 공통 */
.slider_wrap {
  position: relative;
}
.supplementary_information_box {
  margin-top: 60px;
}

.supplementary_information_box .supplementary_card {
  height: 90px;
  padding: 15px 30px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.supplementary_information_box .supplementary_card.green {
  background-color: var(--bs-bg-green);
}
.supplementary_information_box .supplementary_card.pink {
  background-color: var(--bs-bg-red);
}
.supplementary_information_box .supplementary_card .ico {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  background-color: #fff;
}

/* 보헙통계 */

.insurance_statistics_sect .card_list li a{
    padding: 20px;
    display: block;
    height: 100%;
}

.insurance_statistics_sect .card_list .badge {
  margin-bottom: 10px;
}

.insurance_statistics_sect .card_list .year {
    color: #757575;
  }
.insurance_statistics_sect .card_list figure {
  border-radius: 6px;
}

/* 인깆겅보 서비스  */
.insurance_statistics_sect .supplementary_card .ico.ico01 {
  background-image: url(../img/main/graph_icon01.png);
}

.insurance_statistics_sect .supplementary_card .ico.ico02 {
  background-image: url(../img/main/graph_icon02.png);
}

.insurance_statistics_sect .supplementary_card .ico.ico03 {
  background-image: url(../img/main/graph_icon03.png);
}

/* 알쓸보험 */
.useful_insurance_sect .card_list li a{
  padding: 10px 10px 40px;
}
.useful_insurance_sect .card_list figure {
  border-radius: 10px;
}

/* 알아두면 쓸모 있는 자동차 보험 정보  */
.useful_insurance_sect .supplementary_card .ico.ico01 {
  background-image: url(../img/main/information_icon01.png);
}

.useful_insurance_sect .supplementary_card .ico.ico02 {
  background-image: url(../img/main/information_icon02.png);
}

.useful_insurance_sect .supplementary_card .ico.ico03 {
  background-image: url(../img/main/information_icon03.png);
}

/* my 보험---------------------------------------- */
.main_bot_content {
  position: relative;
  background-color: #fbfbfb;
  padding-bottom: 100px;
}
.main_bot_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 338px;
  background-color: var(--bs-bg-blue);
}
.my_banner_wrap {
  margin-bottom: 60px;
  border-radius: 10px;
  background: url(../img/main/my_ins_banner.jpg) no-repeat center / cover;
}
.my_banner_wrap a{
    display: block;
    padding: 55px 50px;
}

.my_banner_wrap .subject {
  margin-bottom: 20px;
}

.my_key_services .main_sub_ttl {
  margin-bottom: 0;
}

.my_key_services .card_list a {
  display: block;
  text-align: center;
}
.my_key_services .card_list img {
  margin: 0 auto;
}

.my_key_services .swiper-container {
  padding: 40px 0 80px;
}
.my_key_services .card_list .img {
  border-radius: 16px 16px 0 0;
}
.my_key_services .card_list .img.bg-green {
  background-color: #00ad53;
}
.my_key_services .card_list .img.bg-green2 {
  background-color: #239c8c;
}

.my_key_services .card_list .text_box {
  margin-top: 30px;
  padding: 0 20px 30px;
}
.my_key_services .my_key_services_slider0 .card_list .text_box {
  margin-top: 0;
}

.my_key_services_slider1 .card_list .img {
  height: 100px;
  display: flex;
  align-items: center;
}
.my_key_services .card_list .swiper-slide {
  transition: all 0.5s;
}
.my_key_services .card_list .swiper-slide:hover {
  box-shadow: 0 17px 27px rgba(0, 0, 0, 0.04);
  transform: translateY(-20px);
}
.multiply img {
  mix-blend-mode: multiply;
}
.swiper-button-next,
.swiper-button-prev {
  width: 13px;
  height: 26px;
  --swiper-navigation-size: 26px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #252525;
}
.my_key_services .swiper-button-next,
.my_key_services .swiper-button-prev {
  top: calc(50% - 20px);
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -40px;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -40px;
}

/* 보림메인 */
.insurance_news_tab {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.insurance_news_tab button {
  font-size: 18px;
  padding: 0 20px;
  line-height: 36px;
  border: 1px solid #c9cfd6;
  background: #fff;
  color: 18px;
  font-weight: 600;
  color: #215285;
  border-radius: 50px;
  margin-right: 10px;
}
.insurance_news_tab .active {
  color: #fff;
  background: #215285;
  border-color: #215285;
}
.insurance_news_slider_btns .swiper-slide-btn.active,
.insurance_news_cont .insurance_news_slider.active {
  display: flex;
}
.insurance_news_slider_btns .swiper-slide-btn,
.insurance_news_cont .insurance_news_slider {
  display: none;
  /* overflow: visible; */
}

.insurance_news_cont .card_list .swiper-slide {
  height: auto;
  /* opacity: 0.5; */
  border-radius: 12px;
  overflow: hidden;
  transition: background 0.3s;
}
.insurance_news_cont .card_list .swiper-slide.active-slide {
  opacity: 1;
}
.insurance_news_cont .card_list a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  height: 358px;
}
.insurance_news_cont .card_list .swiper-slide  a:focus,
.insurance_news_cont .card_list .swiper-slide:hover {
  background: #2973d6;
}
.insurance_news_cont .card_list .swiper-slide  a:focus * ,
.insurance_news_cont .card_list .swiper-slide:hover * {
  color: #fff;
}
.insurance_news_cont .text_box {
  color: #757575;
}
.insurance_news_cont .text_box .subject {
  margin: 15px 0 25px;
  color: #252525;
}
.insurance_news_cont .text_box .desc {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: #656565;
  line-height: 1.44;
  max-height: 5.76em;
}

.insurance_news_cont .date {
  margin-top: auto;
  align-items: flex-end;
  color: #757575;
}

.insurance_news_slider_btns {
  position: absolute;
  top: 0;
  right: 0;
}
.ins_new_wrap {
  position: relative;
}
.insurance_news_slider_btns .swiper-slide-btn.active {
  display: flex;
}
.insurance_news_slider_btns .swiper-slide-btn > div {
  position: static;
  width: 36px;
  height: 36px;
  background: #fff no-repeat center / 11px 19px;
  background-image: url(../img/main/text_slider_prev.png);
  border-radius: 50%;
  box-shadow: none; 
  border: 1px solid #dbdbdb
}

.insurance_news_slider_btns .swiper-slide-btn > .swiper-button-next {
  background-image: url(../img/main/text_slider_next.png);
  margin-left: 10px;
 
}
.insurance_news_slider_btns .swiper-slide-btn > div::after {
  display: none;
}
